<header>
  <nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#nav-bar">&#9776;</button>
    <div class="collapse navbar-toggleable-xs" id="nav-bar">
      <a class="navbar-brand" href="#">{{siteName}}</a>
      <ul class="nav navbar-nav pull-xs-right float-xs-right">
        <li class="nav-item">
          <p class="form-control-static mb-0">Room: <span id="room">None</span></p>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal">Change Room</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-inline">
          <div class="form-group">
            <label for="room-ID-input">Room ID:</label>
            <input class="form-control" id="room-ID-input">
          </div>
          <button type="submit" class="btn btn-primary">Join Room</button>
        </form>
        <hr class="m-y-2">
        <form class="form-inline">
          <div class="form-group">
            <label for="room-ID-input">Room name:</label>
            <input class="form-control" id="room-ID-input">
          </div>
          <button type="submit" class="btn btn-primary">Create Room</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>