<header>
  <nav class="navbar navbar-light navbar-static-top bg-faded">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">&#9776;</button>
        <a class="navbar-brand hidden-sm-up" href="#">{{title}}</a>
      </div>

      <div class="collapse navbar-toggleble-xs" id="bd-main-nav">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Change Group</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>