body {
  background: #663399;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  color: white;
}

.btn {
  background: #663399;
}

.btn-outline {
  border-color: #663399;
}

#interface-background {
  background: white;
  margin: 15px;
  padding: 15px;
}