body {
  background: #663399;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn {
  background: #663399;
}

.btn-outline {
  border-color: #663399;
}

.navbar {
  background: white;
}

.card-block {
  background: white;
}

.jumbotron {
  background: white;
}

#interface-background {
  margin: 15px 0 0 0;
}

footer .card-block {
  margin: 15px 0 0 0;
}