<div class="container" id="splash-page">
  <div class=" card-block text-xs-center">
    <h1 class="display-4">{{siteName}}</h1>
    <p class="lead">you better contribute, mate</p>
    <hr class="m-y-2">
    <div class="row">
      <div class="card card-block col-xs-6 offset-xs-3">
        <form id="register-form">
          <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" id="register-username-input" class="form-control" name="username">
            <label for="register-username-input">Username</label>
          </div>
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="register-password-input" class="form-control" name="password">
            <label for="register-password-input">Password</label>
          </div>
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="register-password-confirm-input" class="form-control" name="confirmPassword">
            <label for="register-password-confirm-input">Confirm Password</label>
          </div>
          <div class="alert alert-danger" role="alert" id="register-warning" style="display: none;"></div>
          <button type="submit" class="btn btn-purple">Register</button>
        </form>
      </div>
      <div class="card card-block col-xs-6 offset-xs-3">
        <form id="login-form">
          <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" id="log-in-username-input" class="form-control" name="username">
            <label for="log-in-username-input">Username</label>
          </div>
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="log-in-password-input" class="form-control" name="password">
            <label for="log-in-password-input">Password</label>
          </div>
          <div class="alert alert-danger" role="alert" id="login-warning" style="display: none;"></div>
          <button type="submit" class="btn btn-purple">Log in</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{>footer}}