<div class="jumbotron text-xs-center">
  <h1 class="display-4">Collaborooms</h1>
  <p class="lead">A collaborative solution to the stresses of dorm living.</p>
  <hr class="m-y-2">
  <div class="row">
    <div class="card card-block col-xs-6 offset-xs-3">
      <form id="register-form">
        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <input type="text" id="register-username-input" class="form-control">
          <label for="register-username-input">Type your username</label>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input type="text" id="register-username-input" class="form-control">
          <label for="register-username-input">Type your password</label>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input type="text" id="register-username-input" class="form-control">
          <label for="register-username-input">Type your password again</label>
        </div>
        <div class="alert alert-danger" role="alert" id="register-warning" style="display:none;"></div>
        <button type="submit" class="btn btn-secondary">Register</button>
      </form>
    </div>
    <div class="card card-block col-xs-6 offset-xs-3">
      <form id="login-form">
        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <input type="text" id="register-username-input" class="form-control">
          <label for="register-username-input">Type your username</label>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input type="text" id="register-username-input" class="form-control">
          <label for="register-username-input">Type your password</label>
        </div>
        <div class="alert alert-danger" role="alert" id="login-warning" style="display:none;"></div>
        <button type="submit" class="btn btn-secondary">Log in</button>
      </form>
    </div>
  </div>
</div>

{{>footer}}