<header>
  <nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#nav-bar">&#9776;</button>
    <div class="collapse navbar-toggleable-xs" id="nav-bar">
      <a class="navbar-brand" href="#">{{siteName}}</a>
      <ul class="nav navbar-nav pull-xs-right float-xs-right">
        <li class="nav-item">
          <p class="form-control-static mb-0">Room: <span id="room">{{roomName}}</span> <span id="roomId">({{roomId}})</span></p>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal">Change Room</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-inline" id="join-room-form">
          <div class="form-group">
            <label for="room-id-input">Room ID:</label>
            <input class="form-control" id="room-id-input" name="roomId">
          </div>
          <button type="submit" class="btn btn-primary">Join Room</button>
        </form>

        <hr class="m-y-2">

        <form class="form-inline" id="create-room-form">
          <div class="form-group">
            <label for="room-name-input">Room name:</label>
            <input class="form-control" id="room-name-input" name="roomName">
          </div>
          <button type="submit" class="btn btn-primary">Create Room</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="card card-block" id="interface-background">
  <form id="new-task-form">
    <div class="form-group">
      <label for="task-message">Task:</label>
      <input type="text" class="form-control" id="task-name-input" name="task-name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{{>footer}}
<script type="text/javascript" charset="utf-8">
  var roomId = '{{roomId}}';
</script>