<header>
  <nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#nav-bar">&#9776;</button>
    <div class="collapse navbar-toggleable-xs" id="nav-bar">
      <a class="navbar-brand" href="#">{{siteName}}</a>
      <ul class="nav navbar-nav pull-xs-right float-xs-right">
        <li class="nav-item" id="currentRoom">
          <p class="form-control-static mb-0">Room: <span id="room">{{roomName}}</span> <span id="roomId">({{roomId}})</span></p>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-purple" data-toggle="modal" data-target="#modal">Change Room</button>
        </li>
        <li class="nav-item">
          <a href="/logout">
            <button type="button" class="btn btn-purple">Log Out</button>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-inline" id="join-room-form">
          <div class="md-form">
            <input type="text" id="room-id-input" class="form-control" name="roomId">
            <label for="room-id-input">Room ID</label>
            <button type="submit" class="btn btn-purple">Join Room</button>
          </div>
        </form>

        <form class="form-inline" id="create-room-form">
          <div class="md-form">
            <input type="text" id="room-name-input" class="form-control" name="roomName">
            <label for="room-name-input">Room Name</label>
            <button type="submit" class="btn btn-purple">Create Room</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-purple" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card card-block" id="task-adder">
    <form id="new-task-form">
      <div class="md-form">
        <input type="text" id="task-name-input" class="form-control" name="task-name">
        <label for="task-name-input">Title</label>
      </div>
      <div class="md-form" id="description-container">
        <textarea type="text" id="task-description" class="md-textarea" name="task-description"></textarea>
        <label for="task-description">Description</label>
      </div>
      <button type="submit" class="btn btn-purple">Submit</button>
    </form>
  </div>
</div>

<div class="container" id="tasks">
  <div class="card card-block tasks">
    <button type="button" class="close ">
      &times;</button>
    </div>
  </div>
</div>

<div class="btn-group">
  <button class="btn btn-purple dropdown-toggle" type="button" data-toggle="dropdown">Delegate</button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Person 1</a>
    <a class="dropdown-item" href="#">Person 2</a>
    <a class="dropdown-item" href="#">Person 3</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Randomize</a>
  </div>
</div>
<button type="submit" class="btn btn-purple">Completed</button>

<div class="chat_window">
  <div class="top_menu">
    <div class="buttons">
      <div class="button close"></div>
      <div class="button minimize"></div>
      <div class="button maximize"></div>
    </div>
    <div class="title">Chat</div>
  </div>
  <ul class="messages"></ul>
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
      <input class="message_input" placeholder="Type your message here...">
    </div>
    <div class="send_message">
      <div class="icon"></div>
      <div class="text">Send</div>
    </div>
  </div>
</div>
</div>
<div class="message_template">
  <li class="message">
    <div class="avatar"></div>
    <div class="text_wrapper">
      <div class="text"></div>
    </div>
  </li>
</div>

{{>footer}}
<script type="text/javascript" charset="utf-8">
  var roomId = '{{roomId}}';
</script>