{{>header}}

<div class="card card-block" id="interface-background">
  <form>
    <div class="form-group">
      <label for="task-message">Task:</label>
      <input type="text" class="form-control" id="task-message">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{{>footer}}